vendor/
log/
.idea/
main
bin/ddns/ddns
bin/ddns/wallet.dat
bin/ddns/data
bin/ddns/log
bin/dsp/dsp
bin/dsp/wallet.dat
bin/dsp/log
bin/dsp/data
bin/dsp/.torrent.bolt.db
bin/ddns/.torrent.bolt.db
bin/dsp/store-info
bin/dsp/nimbus*
bin/dsp/blocks/
bin/dsp/config
bin/dsp/datastore/
bin/dsp/datastore_spec
bin/dsp/db/
bin/dsp/repo.lock
bin/dsp/LOCK
bin/dsp/version
test/*/DB
test/*/FS
test/*/Downloads
test/*/Log
test/*/wallet*
test/*/dsp*
./edge
edge
